@import url(../vendor/normalize.css);


.body {
    width: 100vw;
    background-color:black;
}

.header {
    width: 80%;
    height: 150px;
    margin: 0 auto;
    padding-bottom: 10px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(58, 55, 55);
    margin-bottom: 20px;
}

.header__title {
    color: white;
    margin: 0;
}

.header__image {
    position: absolute;
    top: 50px;
    width: 300px;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    padding: 20px;
    background-image: url(./images/1625572649_33-phonoteka-org-p-uzori-na-zastavku-krasivie-zastavki-33.jpg);
    background-size: cover;
    
}

.form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.form__field {
    color: white;
    margin-bottom: 10px;
}

.form__input {
    border: none;
    border-bottom: 1px solid rgb(58, 55, 55);
    margin-bottom: 10px;
    background-color: inherit;
    color: white;
}

.form__input:focus {
    outline: none;
    background-color: black;
}

.form__input:invalid {
    border-bottom: 1px solid red;
}

.form__input:valid {
    border-bottom: 1px solid green;
}