@import url(../vendor/normalize.css);


.body {
    background-color:black;
}

.page {
    max-width: 1480px;
    min-width: 320px;
    background-color:black;
    margin: 0 auto;
}

.header {
    width: 80%;
    height: 150px;
    margin: 0 auto;
    padding-bottom: 10px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(58, 55, 55);
}

.header__title {
    color: white;
    margin: 0;
    font-size: 3em;
}

.header__image {
    position: absolute;
    top: 55px;
    width: 300px;
}

.content {
    max-width: 1470px;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/1625572649_33-phonoteka-org-p-uzori-na-zastavku-krasivie-zastavki-33.jpg);
    background-size: cover;
    margin: 0 auto;
    position: relative;
}

.content:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.2;
}

.container {
    /* transform: translate(-50%, -50%); */
    color: white;
    border: 1px solid red;
    z-index: 1;
}

.progress-container {
    display: flex;
    margin: 0 auto 30px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 350px;
    max-width: 100%;
}

.progress-container:before {
    content: '';
    width: 99%;
    height: 4px;
    background-color: #fafafa;
    margin: auto;
    position: absolute;
    top: 15px; left: 0; bottom: 0; right: 0;
}

.progress {
    width: 0;
    background-color: #17B978;
    height: 5px;
    top: 29.5px;
    position: absolute;
    transform: translateY(-50%);
    transition: 0.4s ease-in-out;
}

.circle {
    color: black;
    background: #fff;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #f1f1f1;
    border-radius: 50px;
    z-index: 1;
    margin-top: 9px;
}

.circle__type_active {
    border-color: #17B978;
    transition: 0.6s ease-in;
}

.circle__type_done {
    background: #17B978;
}

.progress__button {
    border: none;
    padding: 5px 8px;
    width: 80px;
    font-size: 14px;
    border-radius: 5px;
    background: #21df93;
    margin-left: 59px;
    
}

.progress__button:hover {
    cursor: pointer;
}

.progress__button:disabled {
    background: #f1f1f1;
    color: rgb(114, 97, 97);
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 50px;
    z-index: 1;
}

.form:last-of-type {
    border-top: 1px solid rgb(58, 55, 55);
}

.form__title {
    color: white;
}

.form__field {
    margin-bottom: 10px;
    position: relative;
}

.form__input {
    border: none;
    border-bottom: 1px solid rgb(58, 55, 55);
    margin-bottom: 10px;
    background-color: inherit;
    color: white;
    margin-bottom: 30px;
    font-size: 1.3em;
    width: 100%;
}


.form__input:focus {
    outline: none;
    background-color: black;
    height: 24px;
}

.form__input_type_error {
    border-bottom: 1px solid red;
}

.form__input-error {
    color: red;
    position: absolute;
    left: 0;
    top: 27px;
    visibility: hidden;
}

.form__input-error_active {
    visibility: visible;
}

.form__input:valid {
    border-bottom: 1px solid green;
}

.checkbox-container {
    margin-bottom: 50px;
    clip-path: (X1, Y1, X2, Y2);
}

.form__input_type_checkbox-invisible {
    position: absolute;
    width: 1px; /* если у элемента не будет размеров, некоторые браузеры посчитают, что его вообще нет */
    height: 1px;
    overflow: hidden; /* без этого свойства тоже сработает, но так наверняка. Мы его ещё изучим, оно скрывает элементы, выходящие за границы родителя */
    clip: rect(0 0 0 0);
}

.form__input_type_checkbox-invisible + .form__input_type_checkbox-visible {
   display: inline-block;
   vertical-align: middle;
   width: 20px;
   height: 20px;
   border: 1px solid white; 
   margin-right: 15px;
}


.form__input_type_checkbox-invisible:checked + .form__input_type_checkbox-visible {
   background-image: url(../images/checkmark-transparent-handwritten-9.png);
   background-size: contain;
}

.form__input_type_checkbox-text {
    font-size: 20px;
    color: white;
}


.form__button {
    height: 40px;
    font-size: 1.6em;
    transition: opacity 0.3s linear;
}

.form__button_inactive {
    background-color: inherit;
    color: white;
}

.form__button:hover {
    opacity: 0.7;
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    .header__title {
        font-size: 2em;
    }
    
    .header__image {
        width: 200px;
    }

    .form__title {
        font-size: 1.5em;
    }
    
    .form__input {
        font-size: 1em;
    }

    .form__input_type_checkbox-invisible + .form__input_type_checkbox-visible {
        width: 10px;
        height: 10px;
    }

    .form__input_type_checkbox-text {
        font-size: 1em;
    }

    .form__button {
        font-size: 1em;
    }
}

@media screen and (max-width: 400px) {

    .form__button {
        font-size: 0.8em;
    }

}